html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/background.png');
    background-size: cover;
    background-repeat: repeat;
    /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


/*
 * Styles for the deck of cards
 */

.deck {
    width: 560px;
    min-height: 560px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 100px;
    width: 100px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

@media screen and (max-width:860px) {
    .deck {
        width: 336px;
        min-height: 336px;
    }
    .deck .card {
        width: 60px;
        height: 60px;
    }
}

.deck .card.open {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
    transition: 0.2s;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.wrong {
    cursor: default;
    background: red;
    font-size: 33px;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.timer {
    float: right;
    padding-right: 20px;
}

.btn .btn-primary {
    background: #44ADC1;
}

.modal {
    text-align: center;
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 9999;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-end {
    text-align: center;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 9999;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 50px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.ok {
    padding: 5px 25px;
    background-color: #44ADC1;
    color: white;
    border-radius: 5px;
    border: none;
    outline: none;
}

.hide {
    display: none;
}

.open {
    display: block;
}

.timer {
    padding-left: 30px;
    padding-right: 30px;
}

.yellow {
    color: yellow;
}

.stars1 {
    list-style: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.stars1 li {
    margin: 0px;
    padding: 5px;
    display: inline;
}

.end-time {
    text-align: center;
    padding: 5px 10px;
}

.end-moves {
    text-align: center;
    padding: 5px 10px;
}

#title {
    font-weight: bold;
}